/* 
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  You can use Sass (SCSS) here: http://sass-lang.com/
*/
$blueprint_grid_columns: 8;
$blueprint_grid_width: 40px;

@import "compass/reset";
@import "compass/css3";
@import "compass/typography/lists/bullets";
@import "blueprint";
@import "fancy-buttons";

$content_font: 'Trebuchet MS', Helvetica, sans-serif;
$header_font: Georgia, serif;
$logo_img: "rails.png";

body {
  padding-top: 20px;
}

.welcome {
  @include container;
  @include border-radius(14px, 14px);
  @include single-box-shadow(#1E90FF);
  
  padding: 10px;
  
  background-color: #E5E5E5;
  font-family: $content_font;
  font-size: 1em;
    
  h1 {
    font-size: 2em;
    font-family: $header_font;
    font-style: italic;
  }
  
  p {
    margin-bottom: 10px;
  }

  #header {
    @include column(8, true);
    margin-bottom: 20px;
  }
  
  #footer {
    @include column(8, true);
    margin-top: 10px;
    
    font-size: 0.7em;
  }
  
  #sidebar {
    @include column(2);
    
    .logo {
      background: asset_url($logo_img, image) no-repeat;
      width: image-width($logo_img);
      height: image-height($logo_img);
    }
  }
  
  #content {
    @include column(6, true);
  }

  form {
    @include no-bullets;
  }

  .field {
    @include float-left;
    margin: 4px 0;
    
    label {
      @include column(2);
      margin-top: 3px;
    }
    
    input {
      @include column(3);
      @include box-sizing(border-box);
      @include border-radius(5px, 5px);
      
      &.button {
        @include fancy-button(#1BD51A);
        font-family: $content_font;
      }
    }
  }
}
